.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}
header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    border-style: dotted;

}
body{
    padding-top: 120px;
    background-color: bisque;
}
.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
form{
    display: grid;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    justify-content: center;
}
form input:hover{
border-style: double;
}
form button{ 
    margin-top: 10px;
    width: 20%;
    display: inline-block;
    padding-right: 40%;
    margin-left: 20px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(238, 104, 104, 0.425)
}
table{
    
    justify-content: center;
    margin: auto;
}
table th{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}
table td{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    font-size: 18px;
}